{% extends 'myapp/base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4">
                <h2>About Me</h2>
                <h5>Photo of me:</h5>
                <div class="fakeimg">Fake Image</div>
                <p>Zed from SW team</p>
                <hr class="d-sm-none">
            </div>
            <div class="col-sm-8">
                <h2>TITLE HEADING</h2>
                <h5>Title description, May 10, 2024</h5>
                <div class="fakeimg">Fake Image</div>
                <p>Some text..</p>
            </div>
        </div>
    </div>
{% endblock %}